      <!-- main Section  -->
    <section class="homepage-main">
        <!-- Wrapper  -->
        <div class="container d-flex py-5 px-5 mt-5 mx-auto justify-content-between align-items-center">

            <!-- left container  -->
            <div class="w-50">
                <h6><em>Are you hungry?</em></h6>
                <h1 class="font-weight-bold">Don't wait !</h1>
                <a href="#menu"><button class="py-2 px-4 mt-4 btn order-btn">Order Now</button></a>
            </div>

            <!-- right container  -->
            <div class="w-50">
                <img class="mw-100" src="https://raw.githubusercontent.com/codersgyan/realtime-pizza-app-node-express-mongo/master/public/img/hero-pizza.png" alt="main_pizza_img">
            </div>

        </div>

    </section>

    <!-- menu Section  -->
    <section id="menu" class="menu container mx-auto py-5 mt-5">

        <h5 class="font-weight-bold mb-5">All Pizzas</h5>

        <!-- wrapper  -->
        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2">

            <!-- card  -->
            <% pizzas.forEach(pizza => { %>
             
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="img/<%=pizza.image%>" class="card-img-top p-4" alt="pizza_img">
                  <div class="card-body d-flex flex-column mx-auto">
                    <h5 class="card-title"><%= pizza.name %> </h5>
                    <span class="text-center pizza-size-span rounded py-1 text-uppercase"><%= pizza.size %></span>
                  </div>
                  <div class="container mx-auto d-flex align-items-center justify-content-between p-4">
                      <h5 class="font-weight-bold">₹<%= pizza.price %> </h5>
                      <button data-pizza="<%= JSON.stringify(pizza) %> " class="btn cart-btn">+ Add</button>
                  </div>
                </div>
              </div>

            <% }) %>

          </div>

    </section>